import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    background-color: #ccc;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 15px;
    font-size: 14px;
}

.resume {
    margin: 0;
    max-width: 9cqh;
    box-shadow: 5px 5px 5px #b6a7a7;
}

@media (min-width: 768px){
    .resume {
        margin: 50px auto;
    }
}

.resume__container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .resume__container {
        flex-direction: row;
    }
}

.resume__information {
    padding: 15px 20px;
}

@media (min-width: 768px){
    .resume__information{
        padding: 50px 20px;
        min-height: 800px;
    }
}

.resume__information:first-child{
    background-color: #414143;
    flex-basis: 40%;
    color: #fff;
    border-bottom: 10px solid #46dff0;
    border-right: 10px solid #46dff0;
}

.resume__information:last-child{
    background-color: #fff;
    flex-basis: 60%;
    box-shadow: inset 0 5px 5px 0 #afafb2;
}

@media (min-width: 768px){
    .resume__information:last-child{
        box-shadow: inset 0 5px 5px 0 #afafb2;
    }
}

.resume__profile {
    padding: 0 10px;
}

.resume__profile .image {
    width: 100%;
    background-color: #46dff0;
    padding: 10px;
    display: block;
    margin: 15px auto;
    border-radius: 100%;
}

.resume__profile .details {
    text-align: center;
    margin: 15px 0;
}

@media (min-width: 768px) {
    .resume__profile .details {
        margin: 50px 0;
    }
}

.resume__profile .details .title {
    font-size: 32px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 8px;
}